
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body{
  text-align: center;
  background-color: rgb(19, 19, 19);
}
.main_title{
  color: white;
}
.cards{
  margin: 50px;
}
.card{
  display: inline-flex;
  justify-content: space-around;
}
.card__image{
  margin: 10px;
  border-radius: 5%;
 /*  width: 40%; */
}
.card__image:hover{
  transform: scale(1.5);
  transition: 0.5s;
  opacity: 0.7;
}
.card__description p {
  opacity: 1;
}
.card__description{
  padding: 1%;
  color: white;
  width: 14.6%;
  text-align: justify;
  font-size: 80%;
  display: none;
  pointer-events: none;
  border-radius: 5% 5% 0 0;
}
.card__image:hover + .card__description{
  display: block;
  position: absolute;
  transition: 0.5s;
}