
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
body{
  text-align: center;
  background-color: rgb(19, 19, 19);
  font-family: 'Roboto', sans-serif;
}
.main_title{
  color: white;
}
.cards{
  margin: 50px;
}
.card{
  display: inline-flex;
  justify-content: space-around;
}
.card__image{
  margin: 10px;
  border-radius: 6%;
  box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.5);
 /*  width: 40%; */
}
.card__image:hover{
  transform: scale(1.5);
  transition: 0.5s;
}
.card__description {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.card__description{
  text-align: left !important;
  position: absolute;
  padding: 1%;
  color: white;
  width: 14.6%;
  text-align: justify;
  font-size: 80%;
  pointer-events: none;
  opacity: 0;
}
.card__image:hover + .card__description{
  position: absolute;
  transition: 0.5s;
  opacity: 1;
}